* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* header dark/background */
.dark-background {
    display: flex;
    justify-content:flex-start;
    background-color: #1f2937;
    height: 500px;
    padding: 10px 150px;  
}
/* header logo */
.herologo{
    width: 250px;
    height: 80px;
}
.herologo > p {
    font-size: 24px;
    font-weight: 100;
    color: #f9faf8;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px 50px;
}
/* header links */
.hero-links {
    display: flex;
    font-size: 18px;
    justify-content:................
}
.hero-links > a {
    color: aliceblue;
}
/* hero divs */
.hero-divs {
    display: flex;
    flex-direction: column;

}



/* hero image */
.hero-img {
    width: 350px;
    height: 200;
}